.contact {
  background:linear-gradient(to right, transparent, black),url(../img/beautiful-black-cat-image.jpg);
  height: 100vh;
  background-size: cover;
}

.contact .form-control {
  display: block;
  width: 100%;
  height:50px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 21px;
  color: #555;
  background-color: transparent;
  border: 1px solid #a77c0d;
  border-radius: 3px;
  margin-bottom: 15px;
  opacity: .8;
  outline: 0px !important;
  transition: all 1s;
}

#message{
  height: 150px;
  resize: none;
}

.submit-btn,
.submit-btn:active,
.submit-btn:focus,
.submit-btn:visited{
  background-color: transparent;
  border: 1px solid #a77c0d;
  border-radius: 4px;
  width: 100%;
  height: 50px;
  text-transform: uppercase;
  font-size: 18px;
  color: #a77c0d;
  outline: 0px !important;
  transition: all 1s;
}

.submit-btn:hover{
  background: #a77c0d;
  color: #fff;
  border-color: #a77c0d;
}

.section-contact {
  position: absolute;
  bottom: 5%;
  right: 38%;
    p {
      font-size: 20px;
      color: #a77c0d;
      text-shadow: 1px 1px 2px #fff;
      text-decoration: underline;
      text-transform: uppercase;
    }
}
